.Rhistory
*.RData
*.counts
.*.sw?
*.pyc
*.aux
*.log
*.Rout
temp
test
tmp
*/Rplots.pdf
*/all-mcmc-runs.pdf
*.nav
*.out
*.toc
*.snm
*.tsv
last.dump.rda
*.html
_ignore
bunnyhutch_id_rsa
info
lit
liftOver
mm9galGal3
mm9hg19
mm9ornAna1
mm9oryCun2
mm9rn5
*-sims
